version: '3.8'
services:
  php:
    build: './php'
    volumes:
      - './src:/var/www/html'

  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - './src:/var/www/html'
      - './docker/nginx/conf.d:/etc/nginx/conf.d'

  mysql:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - 3306:3306
    command: --init-file /data/application/init.sql
    volumes:
      - ./sql/init.sql:/data/application/init.sql