name: GitHub Actions
run-name: ${{ github.actor }} :)
on: [push]
jobs:        
  deploy:
    runs-on: ubuntu-latest
    steps:      
      - name: Deployment
        uses: wshihadeh/docker-deployment-action@v1
        with:
          remote_docker_host: root@62.113.106.48
          ssh_private_key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          ssh_public_key: ${{ secrets.DOCKER_SSH_PUBLIC_KEY }}
          copy_stack_file: true
          deploy_path: /root/
          stack_file_name: docker-compose.yml
          keep_files: 5
          args: my_applicaion compose up -d
