name: GitHub Actions
run-name: ${{ github.actor }} :)
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:      
      - name: Deployment
        uses: appleboy/ssh-action@master
        with:
          host: 62.113.106.48
          username: root
          key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          port: 22
          script: |
            if [ -d app ]; then
              echo 'Pulling'
              cd app
              git pull
            else
              echo 'First deploy'
              git clone https://github.com/PavelSigeti/itmo-counter-docker-compose app
              cd app
              docker compose up -d
            fi
